---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { dateRange } from "@lib/utils";
import { EDUCATION, HOME } from "@consts";

const collection = (await getCollection("education"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf());

const education = await Promise.all(
  collection.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);
---

<PageLayout title={EDUCATION.TITLE} description={EDUCATION.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Education
      </div>
      <ul class="flex flex-col space-y-4">
        { 
          education.map(entry => (
            <li class="animate">
              <div class="text-sm opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.degree}
              </div>
              <div class="text-sm opacity-75">
                {entry.data.institution}
              </div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))
        }
      </ul>
<!-- 
      <ul class="animate flex flex-col gap-4">

      </ul> -->
      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Skills
          </h5>
          <!-- <Link href="/education">
            See all Skills
          </Link> -->
        </div>
        <div class="space-y-4">
          {HOME.SKILLS && Object.entries(HOME.SKILLS).map(([category, skills]) => (
            <div>
              <h6 class="font-medium text-black dark:text-white mb-2">
                {category}
              </h6>
              <div class="flex flex-wrap gap-2">
                {skills.map((skill: string) => (
                  <div class="rounded-full bg-secondary/20 px-4 py-2 text-sm text-secondary">
                    {skill}
                  </div>
                ))}
              </div>
            </div>
          ))}
        </div>
      </section>
    </div>
  </Container>
</PageLayout>
